// ======================= components/scrollbar ========================

$scroll-track-color: #f0f0f0;
$scroll-thumb-color: #d9d9d9;

.scrollbar {
  &::-webkit-scrollbar-track {
    background: $scroll-track-color;
    border-radius: 0.375em;
  }

  &::-webkit-scrollbar-thumb {
    background: $scroll-thumb-color;
  }

  &_sm {
    &::-webkit-scrollbar {
      width: 0.25em;
    }
  }
  &_md {
    &::-webkit-scrollbar {
      width: 0.375em;
    }
  }
  &_lg {
    &::-webkit-scrollbar {
      width: 0.5em;
    }
  }
  &_xl {
    &::-webkit-scrollbar {
      width: 0.625em;
    }
  }
}
