block variables
  - var title = 'Страница поп-ап с текстом'
  - var bodyClass = ''


include ../../static/_head
  main
    .container.main__container
      button(data-popup="../popups/get/get-popup-text.html") Открыть форму
