block variables
  - var title = 'Страница поп-ап с формой'
  - var bodyClass = ''


include ../../static/_head
  main
    .container.main__container
      button(data-popup="../popups/get/get-popup-form.html") Открыть форму
     
