block variables
  - var title = 'Страница поп-ап с формой, текстом и дескриптором'
  - var bodyClass = ''


include ../../static/_head
  main
    .container.main__container
      button(data-popup="../popups/get/get-popup-text-descriptor-form.html") Открыть форму
