html {
  font-family: $font-family;
  font-size: $fzMain;
  @screen 3xl {
    font-size: $fzFor4K;
  }
}

body {
  @apply min-h-screen overflow-x-hidden;
}
main {
  @apply min-h-[inherit] overflow-x-hidden select-none;
}

.scroll-hidden {
  @apply overflow-y-hidden;
}

@for $i from 1 through 7 {
  h#{$i},
  .h#{$i} {
    font-size: calc($title-mobile-fs-base + (7 - $i) * $title-mobile-fs-step);
    // font-family:
    @apply font-bold;
    @screen md {
      font-size: $title-fs-start - ($i - 1) * $title-fs-step;
    }
    line-height: 1.3em;
  }
}
