h1 H1 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
h2 H2 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
img(src='https://www.desktopbackground.org/download/2520x1080/2015/06/22/968151_bridges-golden-7500-2400-wallpapers-2383312_7500x2400_h.jpg', width='700')
p RGB и CMYK – это режимы <a href="#">смешивания цветов в графическом дизайне.</a> Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
ol
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
h3 H3 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
ul
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
figure.figure_image
    picture
        source(srcset="https://r-band.ru/image/pages/79/image-3-min.jpg", media="(max-width: 600px)")
        img(src="https://r-band.ru/image/pages/79/image%203.jpg", alt="Сравнение рекламных кампаний Shkoda и Mercedes-Benz", width="100%")
    figcaption Сравнение рекламных кампаний Shkoda и Mercedes-Benz
h6 (h6) Заголовок для списка
ul
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
    li Режимы смешивания (H1) Режимы смешивания
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
table(width="1000px")
    thead
        tr
            td Пример заголовка в таблице
            td Пример заголовка в таблице
            td Пример заголовка в таблице
            td Пример заголовка в таблице
    tbody
        tr
            td Пример текста в таблице Пример текста в таблице
            td
                p Пример текста в таблице Пример текста в таблице
                ul
                    li Элемент 1
                    li Элемент 2
                    li Элемент 3
                p Пример текста в таблице Пример текста в таблице
                p Пример текста в таблице Пример текста в таблице
            td Пример текста в таблице Пример текста в таблице
            td
                p Пример текста в таблице Пример текста в таблице
        tr
            td Пример текста в таблице Пример текста в таблице
            td
                p Пример текста в таблице Пример текста в таблице
                ul
                    li Элемент 1
                    li Элемент 2
                    li Элемент 3
            td Пример текста в таблице Пример текста в таблице
            td
                p Пример текста в таблице Пример текста в таблице
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
h4 H4 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
<iframe width="560" height="215" src="https://www.youtube.com/embed/Tu9RoM6ovEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
h5 H5 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
figure.figure_blockquote
    blockquote
        p Мы всегда настаиваем на пробнике перед заказом полного тиража.<br>Только так можно проверить истиность цветов и избежать разочарований.
    figcaption RBand
        cite Используем skype
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
h6 H6 Режимы смешивания (H1) Режимы смешивания (H6) Режимы смешивания
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!
img(src='https://www.desktopbackground.org/download/2520x1080/2015/06/22/968151_bridges-golden-7500-2400-wallpapers-2383312_7500x2400_h.jpg')
p RGB и CMYK – это режимы смешивания цветов в графическом дизайне. Спойлер: цветной режим RGB подходит для цифровой работы, а CMYK используется для печатной продукции. Но чтобы полностью оптимизировать свой дизайн, нужно понимать механизмы, стоящие за каждым. Едем дальше!